In [63]:
import pandas as pd
import sweetviz as sv

## Import All Training Data

### Training Data Outcomes

In [90]:
# Read the Excel file
train_sols = pd.read_excel("TRAINING_SOLUTIONS.xlsx")

In [91]:
train_sols.head()

  participant_id  ADHD_Outcome  Sex_F
0   UmrK0vMLopoR             1      1
1   CPaeQkhcjg7d             1      0
2   Nb4EetVPm3gs             1      0
3   p4vPhVu91o4b             1      1
4   M09PXs7arQ5E             1      1

### Training MRI Data

In [66]:
# Read the csv file
train_mri = pd.read_csv("TRAIN_FUNCTIONAL_CONNECTOME_MATRICES.csv")

In [67]:
train_mri.head()

,participant_id,0throw_1thcolumn,0throw_2thcolumn,0throw_3thcolumn,0throw_4thcolumn,0throw_5thcolumn,0throw_6thcolumn,0throw_7thcolumn,0throw_8thcolumn,0throw_9thcolumn,...,195throw_196thcolumn,195throw_197thcolumn,195throw_198thcolumn,195throw_199thcolumn,196throw_197thcolumn,196throw_198thcolumn,196throw_199thcolumn,197throw_198thcolumn,197throw_199thcolumn,198throw_199thcolumn
0,70z8Q2xdTXM3,0.093473,0.146902,0.067893,0.015141,0.070221,0.063997,0.055382,-0.035335,0.068583,...,0.003404,-0.010359,-0.050968,-0.014365,0.128066,0.112646,-0.058980,0.028228,0.133582,0.143372
1,WHWymJu6zNZi,0.029580,0.179323,0.112933,0.038291,0.104899,0.064250,0.008488,0.077505,-0.004750,...,-0.008409,-0.008479,0.020891,0.017754,0.094040,0.035141,0.032537,0.075007,0.115350,0.138200
2,4PAQp1M6EyAo,-0.051580,0.139734,0.068295,0.046991,0.111085,0.026978,0.151377,0.021198,0.083721,...,0.053245,-0.028003,0.028773,0.024556,0.166343,0.058925,0.035485,0.063661,0.042862,0.162162
3,obEacy4Of68I,0.016273,0.204702,0.115980,0.043103,0.056431,0.057615,0.055773,0.075030,0.001033,...,-0.023918,-0.005356,0.018607,0.016193,0.072955,0.130135,0.056120,0.084784,0.114148,0.190584
4,s7WzzDcmDOhF,0.065771,0.098714,0.097604,0.112988,0.071139,0.085607,0.019392,-0.036403,-0.020375,...,0.066439,-0.076680,-0.047530,-0.031443,0.221213,0.007343,0.005763,0.083820,0.079582,0.067269

In [68]:
train_mri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Columns: 19901 entries, participant_id to 198throw_199thcolumn
dtypes: float64(19900), object(1)
memory usage: 184.2+ MB

In [35]:
train_mri.shape

(1213, 19901)

### Categorical Training Data

In [92]:
# Read the Excel file
train_cat = pd.read_excel("TRAIN_CATEGORICAL_METADATA.xlsx")

In [93]:
# Display the first few rows
train_cat.head()

,participant_id,Basic_Demos_Enroll_Year,Basic_Demos_Study_Site,PreInt_Demos_Fam_Child_Ethnicity,PreInt_Demos_Fam_Child_Race,MRI_Track_Scan_Location,Barratt_Barratt_P1_Edu,Barratt_Barratt_P1_Occ,Barratt_Barratt_P2_Edu,Barratt_Barratt_P2_Occ
0,UmrK0vMLopoR,2016,1,0.0,0,1,21,45,21,45
1,CPaeQkhcjg7d,2019,3,1.0,2,3,15,15,0,0
2,Nb4EetVPm3gs,2016,1,1.0,8,1,18,40,0,0
3,p4vPhVu91o4b,2018,3,0.0,8,3,15,30,18,0
4,M09PXs7arQ5E,2019,3,0.0,1,3,15,20,0,0

In [94]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   participant_id                    1213 non-null   object
 1   Basic_Demos_Enroll_Year           1213 non-null   int64
 2   Basic_Demos_Study_Site            1213 non-null   int64
 3   PreInt_Demos_Fam_Child_Ethnicity  1202 non-null   float64
 4   PreInt_Demos_Fam_Child_Race       1213 non-null   int64
 5   MRI_Track_Scan_Location           1213 non-null   int64
 6   Barratt_Barratt_P1_Edu            1213 non-null   int64
 7   Barratt_Barratt_P1_Occ            1213 non-null   int64
 8   Barratt_Barratt_P2_Edu            1213 non-null   int64
 9   Barratt_Barratt_P2_Occ            1213 non-null   int64
dtypes: float64(1), int64(8), object(1)
memory usage: 94.9+ KB

In [95]:
train_cat.shape

(1213, 10)

#### Merge Categorical Training Data with Training Outcomes

In [96]:
train_cat = pd.merge(train_cat, train_sols, on="participant_id", how="inner")  # Inner join
train_cat.head()

,participant_id,Basic_Demos_Enroll_Year,Basic_Demos_Study_Site,PreInt_Demos_Fam_Child_Ethnicity,PreInt_Demos_Fam_Child_Race,MRI_Track_Scan_Location,Barratt_Barratt_P1_Edu,Barratt_Barratt_P1_Occ,Barratt_Barratt_P2_Edu,Barratt_Barratt_P2_Occ,ADHD_Outcome,Sex_F
0,UmrK0vMLopoR,2016,1,0.0,0,1,21,45,21,45,1,1
1,CPaeQkhcjg7d,2019,3,1.0,2,3,15,15,0,0,1,0
2,Nb4EetVPm3gs,2016,1,1.0,8,1,18,40,0,0,1,0
3,p4vPhVu91o4b,2018,3,0.0,8,3,15,30,18,0,1,1
4,M09PXs7arQ5E,2019,3,0.0,1,3,15,20,0,0,1,1

### Quantitative Training Data

In [97]:
# Read the Excel file
train_quant = pd.read_excel("TRAIN_QUANTITATIVE_METADATA.xlsx")

In [98]:
train_quant.head()

,participant_id,EHQ_EHQ_Total,ColorVision_CV_Score,APQ_P_APQ_P_CP,APQ_P_APQ_P_ID,APQ_P_APQ_P_INV,APQ_P_APQ_P_OPD,APQ_P_APQ_P_PM,APQ_P_APQ_P_PP,SDQ_SDQ_Conduct_Problems,SDQ_SDQ_Difficulties_Total,SDQ_SDQ_Emotional_Problems,SDQ_SDQ_Externalizing,SDQ_SDQ_Generating_Impact,SDQ_SDQ_Hyperactivity,SDQ_SDQ_Internalizing,SDQ_SDQ_Peer_Problems,SDQ_SDQ_Prosocial,MRI_Track_Age_at_Scan
0,UmrK0vMLopoR,40.00,13,3,10,47,13,11,28,0,6,1,5,0,5,1,0,10,NaN
1,CPaeQkhcjg7d,-94.47,14,3,13,34,18,23,30,0,18,6,8,7,8,10,4,5,NaN
2,Nb4EetVPm3gs,-46.67,14,4,10,35,16,10,29,1,14,2,8,5,7,6,4,9,8.239904
3,p4vPhVu91o4b,-26.68,10,5,12,39,19,16,28,6,24,4,16,9,10,8,4,6,NaN
4,M09PXs7arQ5E,0.00,14,5,15,40,20,24,28,1,18,4,11,4,10,7,3,9,8.940679

In [99]:
train_quant.shape

(1213, 19)

In [100]:
train_quant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   participant_id              1213 non-null   object
 1   EHQ_EHQ_Total               1213 non-null   float64
 2   ColorVision_CV_Score        1213 non-null   int64
 3   APQ_P_APQ_P_CP              1213 non-null   int64
 4   APQ_P_APQ_P_ID              1213 non-null   int64
 5   APQ_P_APQ_P_INV             1213 non-null   int64
 6   APQ_P_APQ_P_OPD             1213 non-null   int64
 7   APQ_P_APQ_P_PM              1213 non-null   int64
 8   APQ_P_APQ_P_PP              1213 non-null   int64
 9   SDQ_SDQ_Conduct_Problems    1213 non-null   int64
 10  SDQ_SDQ_Difficulties_Total  1213 non-null   int64
 11  SDQ_SDQ_Emotional_Problems  1213 non-null   int64
 12  SDQ_SDQ_Externalizing       1213 non-null   int64
 13  SDQ_SDQ_Generating_Impact   1213 non-null   int64
 14  SDQ_SDQ_Hyperactivity       1213 non-null   int64
 15  SDQ_SDQ_Internalizing       1213 non-null   int64
 16  SDQ_SDQ_Peer_Problems       1213 non-null   int64
 17  SDQ_SDQ_Prosocial           1213 non-null   int64
 18  MRI_Track_Age_at_Scan       853 non-null    float64
dtypes: float64(2), int64(16), object(1)
memory usage: 180.2+ KB

#### Merge Quantitative Data with Training Outcomes

In [101]:
train_quant = pd.merge(train_quant, train_sols, on="participant_id", how="inner")  # Inner join
train_quant.head()

,participant_id,EHQ_EHQ_Total,ColorVision_CV_Score,APQ_P_APQ_P_CP,APQ_P_APQ_P_ID,APQ_P_APQ_P_INV,APQ_P_APQ_P_OPD,APQ_P_APQ_P_PM,APQ_P_APQ_P_PP,SDQ_SDQ_Conduct_Problems,...,SDQ_SDQ_Emotional_Problems,SDQ_SDQ_Externalizing,SDQ_SDQ_Generating_Impact,SDQ_SDQ_Hyperactivity,SDQ_SDQ_Internalizing,SDQ_SDQ_Peer_Problems,SDQ_SDQ_Prosocial,MRI_Track_Age_at_Scan,ADHD_Outcome,Sex_F
0,UmrK0vMLopoR,40.00,13,3,10,47,13,11,28,0,...,1,5,0,5,1,0,10,NaN,1,1
1,CPaeQkhcjg7d,-94.47,14,3,13,34,18,23,30,0,...,6,8,7,8,10,4,5,NaN,1,0
2,Nb4EetVPm3gs,-46.67,14,4,10,35,16,10,29,1,...,2,8,5,7,6,4,9,8.239904,1,0
3,p4vPhVu91o4b,-26.68,10,5,12,39,19,16,28,6,...,4,16,9,10,8,4,6,NaN,1,1
4,M09PXs7arQ5E,0.00,14,5,15,40,20,24,28,1,...,4,11,4,10,7,3,9,8.940679,1,1

### Merge Categorical & Quantitative Training Data

In [102]:
# Merge DataFrames on 'participant_id'
train_df = pd.merge(train_cat, train_quant, on=["participant_id", "ADHD_Outcome","Sex_F"], how="inner") # Inner join

In [103]:
train_df.head()

,participant_id,Basic_Demos_Enroll_Year,Basic_Demos_Study_Site,PreInt_Demos_Fam_Child_Ethnicity,PreInt_Demos_Fam_Child_Race,MRI_Track_Scan_Location,Barratt_Barratt_P1_Edu,Barratt_Barratt_P1_Occ,Barratt_Barratt_P2_Edu,Barratt_Barratt_P2_Occ,...,SDQ_SDQ_Conduct_Problems,SDQ_SDQ_Difficulties_Total,SDQ_SDQ_Emotional_Problems,SDQ_SDQ_Externalizing,SDQ_SDQ_Generating_Impact,SDQ_SDQ_Hyperactivity,SDQ_SDQ_Internalizing,SDQ_SDQ_Peer_Problems,SDQ_SDQ_Prosocial,MRI_Track_Age_at_Scan
0,UmrK0vMLopoR,2016,1,0.0,0,1,21,45,21,45,...,0,6,1,5,0,5,1,0,10,NaN
1,CPaeQkhcjg7d,2019,3,1.0,2,3,15,15,0,0,...,0,18,6,8,7,8,10,4,5,NaN
2,Nb4EetVPm3gs,2016,1,1.0,8,1,18,40,0,0,...,1,14,2,8,5,7,6,4,9,8.239904
3,p4vPhVu91o4b,2018,3,0.0,8,3,15,30,18,0,...,6,24,4,16,9,10,8,4,6,NaN
4,M09PXs7arQ5E,2019,3,0.0,1,3,15,20,0,0,...,1,18,4,11,4,10,7,3,9,8.940679

In [104]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   participant_id                    1213 non-null   object
 1   Basic_Demos_Enroll_Year           1213 non-null   int64
 2   Basic_Demos_Study_Site            1213 non-null   int64
 3   PreInt_Demos_Fam_Child_Ethnicity  1202 non-null   float64
 4   PreInt_Demos_Fam_Child_Race       1213 non-null   int64
 5   MRI_Track_Scan_Location           1213 non-null   int64
 6   Barratt_Barratt_P1_Edu            1213 non-null   int64
 7   Barratt_Barratt_P1_Occ            1213 non-null   int64
 8   Barratt_Barratt_P2_Edu            1213 non-null   int64
 9   Barratt_Barratt_P2_Occ            1213 non-null   int64
 10  ADHD_Outcome                      1213 non-null   int64
 11  Sex_F                             1213 non-null   int64
 12  EHQ_EHQ_Total                     1213 non-null   float64
 13  ColorVision_CV_Score              1213 non-null   int64
 14  APQ_P_APQ_P_CP                    1213 non-null   int64
 15  APQ_P_APQ_P_ID                    1213 non-null   int64
 16  APQ_P_APQ_P_INV                   1213 non-null   int64
 17  APQ_P_APQ_P_OPD                   1213 non-null   int64
 18  APQ_P_APQ_P_PM                    1213 non-null   int64
 19  APQ_P_APQ_P_PP                    1213 non-null   int64
 20  SDQ_SDQ_Conduct_Problems          1213 non-null   int64
 21  SDQ_SDQ_Difficulties_Total        1213 non-null   int64
 22  SDQ_SDQ_Emotional_Problems        1213 non-null   int64
 23  SDQ_SDQ_Externalizing             1213 non-null   int64
 24  SDQ_SDQ_Generating_Impact         1213 non-null   int64
 25  SDQ_SDQ_Hyperactivity             1213 non-null   int64
 26  SDQ_SDQ_Internalizing             1213 non-null   int64
 27  SDQ_SDQ_Peer_Problems             1213 non-null   int64
 28  SDQ_SDQ_Prosocial                 1213 non-null   int64
 29  MRI_Track_Age_at_Scan             853 non-null    float64
dtypes: float64(3), int64(26), object(1)
memory usage: 284.4+ KB

In [105]:
train_df.shape

(1213, 30)

## Import Testing Data

### MRI Testing Data

In [83]:
# Read the csv file
test_mri = pd.read_csv("TEST_FUNCTIONAL_CONNECTOME_MATRICES.csv")

### Categorical Testing Data

In [106]:
# Read the Excel file
test_cat = pd.read_excel("TEST_CATEGORICAL.xlsx")

### Quantitative Testing Data

In [107]:
# Read the Excel file
test_quant = pd.read_excel("TEST_QUANTITATIVE_METADATA.xlsx")

### Merge Categorical & Quantitative Testing Data

In [108]:
# Merge DataFrames on 'participant_id'
test_df = pd.merge(test_cat, test_quant, on=["participant_id"], how="inner") # Inner join

## Sweetviz Analysis

### Combined Categorical & Quantitative Data

In [109]:
# Generate a Sweetviz report
report = sv.analyze(train_df, target_feat='ADHD_Outcome')

# Show the report in a browser
report.show_html("sweetviz_report (Combined Categorical & Quantitative Training Data v ADHD Outcome).html")

                                             |                                             | [  0%]   00:00 ->â€¦

Report sweetviz_report (Combined Categorical & Quantitative Training Data v ADHD Outcome).html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
# Generate a Sweetviz report
report = sv.analyze(train_df, target_feat='Sex F')

# Show the report in a browser
report.show_html("sweetviz_report (Combined Categorical & Quantitative Training Data v Sex F).html")

### Categorical Training Data

In [110]:
# Generate a Sweetviz report
report = sv.analyze(train_cat, target_feat='ADHD_Outcome')

# Show the report in a browser
report.show_html("sweetviz_report (Categorical Training Data v ADHD Outcome).html")

                                             |                                             | [  0%]   00:00 ->â€¦

Report sweetviz_report (Categorical Training Data v ADHD Outcome).html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [111]:
# Generate a Sweetviz report
report = sv.analyze(train_cat, target_feat='Sex_F')

# Show the report in a browser
report.show_html("sweetviz_report (Categorical Training Data v Sex F).html")

                                             |                                             | [  0%]   00:00 ->â€¦

Report sweetviz_report (Categorical Training Data v Sex F).html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### Quantitative Training Data

In [30]:
# Generate a Sweetviz report
report = sv.analyze(train_quant, target_feat='ADHD_Outcome')

# Show the report in a browser
report.show_html("sweetviz_report (Quantitative Training Data v ADHD Outcome).html")

                                             |                                             | [  0%]   00:00 ->â€¦

Report sweetviz_report (Quantitative Training Data v ADHD Outcome).html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
# Generate a Sweetviz report
report = sv.analyze(train_quant, target_feat='Sex_F')

# Show the report in a browser
report.show_html("sweetviz_report (Quantitative Training Data v Sex F).html")

### Training Data v Testing Data

#### Combined Categorical & Quantitative Data

In [ ]:
# Generate a Sweetviz report
report = sv.compare([train_df,"Categorical Training Data"], [test_df,"Categorical Testing Data"])

# Show the report in a browser
report.show_html("sweetviz_report (Combined Training Data v Combined Testing Data).html")

#### Categorical Data

In [112]:
# Generate a Sweetviz report
report = sv.compare([train_cat,"Categorical Training Data"], [test_cat,"Categorical Testing Data"])

# Show the report in a browser
report.show_html("sweetviz_report (Categorical Training Data v Categorical Testing Data).html")

                                             |                                             | [  0%]   00:00 ->â€¦

Report sweetviz_report (Categorical Training Data v Categorical Testing Data).html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

#### Quantitative Data

In [113]:
# Generate a Sweetviz report
report = sv.compare([train_quant,"Quantitative Training Data"], [test_quant,"Quantitative Testing Data"])

# Show the report in a browser
report.show_html("sweetviz_report (Quantitative Training Data v Quantitative Testing Data).html")

                                             |                                             | [  0%]   00:00 ->â€¦

Report sweetviz_report (Quantitative Training Data v Quantitative Testing Data).html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.